extends layout

block headerscripts
	script(src='https://www.paypal.com/sdk/js?client-id=AbH1wK350KsM50wu8XfzvbnN2B3Sn4PjCzzJGEA3-wIaG7zSbgNgyphVPdW0p1luiJR1XRr5yCQmeL0S&currency=USD&intent=capture&commit=false')
	script(src='/javascripts/checkout.js')

block content
	div(class='checkout')
		p='You are about to buy:'
		p
			img(class='item', title'Image of Cover', src='https://i.imgur.com/knxv5oN.jpg')
			='The PayPal Wars for USD $65.00'
		p='Ship to:'
		div(class='addr')
			p(id='addrVal')
			div(id='button')
		input(type='checkbox',value="true",id='mockError')
		label(for='mockError')='MockError'
